.title {
    margin: 20px;
    font-size: 18px;
    font-weight: 300;
    color: #7DFCDB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallTitle {
    top: 10px;
    margin-right: 10px;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    width: 330px;
    height: 250px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: .4rem;
    background-color: #223550;
    /* margin: 80px; */
}

.project:hover {
    transform: translateY(-10px);
}

.projectNav {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-size: 33px;
}

.icon {
    color: #7DFCDB;
}

.icon a {
    text-decoration: none;
    color: #7DFCDB;
    font-size: 2rem;
}


.externalLinkIcon a {
    text-decoration: none;
    color: #7DFCDB;
    font-size: 2rem;
}


.ProjectTitle {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: #7DFCDB;
    font-size: 19px;
    font-weight: 700;
}

.longProjectTitle {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: #7DFCDB;
    font-size: 16px;
    font-weight: 700;
}

.twoIcons {
    width: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.des {
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
}

.projecFooter {
    margin: 8px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}
#skillsSpan {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 25px;
    width: 95px;
    border-radius: 5px;
    background-color: #0a152465;
    color: #64bba4;
}
