.EmailSection {
    display: flex;
    /* flex-direction: column-reverse; */
    justify-content: center;
    align-items: center;
}

.emailLine {
    height: 100px;
    border-right: 3px solid #f4f4f49d;
    position: absolute;
    bottom: 0;
}

.email a {
    color: #f4f4f49d;
    text-decoration: none;
    font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
    line-height: 18px;
    letter-spacing: 0.2em;
}



.email {
    rotate: 90deg;
    position: absolute;
    bottom: 250px;

}

.email  :hover {
    color: aqua;
}